.menu-search input[type="text"] {
    height: 30px;
}

.navbar a.navbar-brand.white-label {
    padding-top: 16px;
}

.navbar.app-header .user-name-only {
    pointer-events: none;
}

.nav.navbar-nav .subtle > a, .nav.navbar-nav .subtle > a i {
    font-weight: 200;
    font-size: 14px;
}