.menu-search input[type="text"] {
    height: 30px;
}

.navbar-brand.embedded {
    left: unset;
    margin-left: 0 !important;
}

.navbar.app-header .user-name-only {
    pointer-events: none;
}

.nav.navbar-nav .subtle > a, .nav.navbar-nav .subtle > a i {
    font-weight: 200;
    font-size: 14px;
}